.changeform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 10px;
    min-width: 250px;
  }
  .changefield{

      padding: 0 20px;
  }
  .changecard{
      border-radius: 20px;
      background-color: white;
      text-align: center;
      align-items: center;
  }
  .changebutton{
      background-color:peru;
      margin-bottom: 10px;
  }

  .pass-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }